/* CSS Resets */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Basic Styling */ 

html{
	font-size: 16px;
	font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bolder;
	color: black;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1rem;
}
.container {
	width: 75%;
	margin: 0 auto;
}
.center {
	text-align: center;
}
body {
	color: #495057;
}

/* Header Styling */

.top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2rem auto 6rem auto;
	
}
.head-top {
	width: 50%;
	color: black;
}

header h1{
	color: #f03e3e;
	font-family: 'Satisfy', cursive;
}
nav {
	width: 30%;
}
.nav-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about h2 {
	margin: 2rem 0;
}
 .about-img {
 	width: 250px;
 	height: 250px;
 }
 .about-text {
 	width: 60%;
 	line-height: 1.8;
 	color: #212529;
 }

.about-layout {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

 .work {
 	margin: 6rem 0 3rem 0;
 }
.work h2 {
	margin-bottom: 1rem;
	color: #212529;
	text-align: left;
	font-size: 2rem;
	font-weight: normal;
}
.work-tudu {
	width: 45%;
	height: 300px;
}
.work-tudu:hover {
	opacity: 0.5;
}

.work-thought {
	width: 45%;
	height: 300px;
}
.work-thought:hover {
	opacity: 0.5;
}

.work-tudu-text {
	line-height: 1.8;
	width: 50%;
	margin-right: 1rem;
}
.work-thought-text {
	width: 50%;
	line-height: 1.8;
	margin-right: 1rem;
}
.tudu-layout {
	margin-top: 4rem;
}
.tudu-layout, .thought-layout {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.thought-layout {
	color: #495057;
}

p{
	color:#868e96;
	font-family: 'Lato', sans-serif;
}
.writing h2, .contact h2 {
	margin: 4rem 0 1rem 0;
	color: #212529;
	font-weight: normal;
	font-size: 2rem;
}

.writing-text, .contact-text {
	line-height: 1.6;
}
.contact-social {
	text-align: center;
	margin: 1rem;
}
.contact-social img {
	margin-right: 0.9rem;
}
.story-list {
	line-height: 1.6;
}
.center h3 {
	font-style: italic;
	font-weight: normal;
}

.main-nav {
	color: #ff6b6b;
	text-decoration: none;
}
a.main-nav:hover {
	color: #c92a2a;
}
.list-link {
	color: #212529;
	text-decoration: none;
}
a.list-link:hover {
 color:#495057;
}
.work-list {
	color:#212529;
}
a.work-list:hover {
	text-decoration: none;
}



/* Mobile Layout */

@media only screen and (max-width: 875px) {
	.container {
		width: 100%;
	}
	.head-top {
		margin-left: 2rem;
	}
	.top-bar {
		display: block;
		margin-bottom: 3rem;
	}
	.nav-top li {
		margin-left: 2rem;
		margin-right: 1rem;
		text-align: left;
		margin-top: 1rem;
	}
	.about-layout {
		display: flex;
		flex-direction: column;
	}

	.about-text{
		margin-top: 1rem;
		width: 95%;
		overflow: hidden;
		margin-left: 1rem;
		margin-right: 1rem;

	
	}
	.tudu-layout, .thought-layout {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.work-tudu {
		width: 100%;
		
	}
	.work-thought {
		width: 100%;
		margin-top: 1rem;
	}
.work-tudu-text {
	width: 90%;
	overflow: hidden;
}
.work-thought-text {
	width: 90%;
	margin-top: 1rem;
	overflow: hidden;
}
.writing-text {
	width: 90%;
	overflow: hidden;
	margin-left: 1rem;
}
.contact-text {
	width: 90%;
	overflow: hidden;
	margin-left: 1rem;
}
.writing h2, .contact h2, .work h2 {
	margin-left: 1rem;
}
.story-list{
	margin-left: 1rem;
}
}